.chat-page-wrapper
    max-width: 1024px
    margin: 0 auto
    padding: 0px 7px
    display: flex
    height: 100vh

.chat-page-sidebar
    display: flex
    flex-direction: column
    border-right: 1px solid grey

.chat-page-sidebar-item
    display: flex
    flex-direction: column

    span
        width: 100%
        padding: 3px 4px
        font-size: 16px
        background: #3066b8
        color: white
    .item
        padding: 6px 4px
        transition: all 0.25s ease-in-out

        &.selected
            background: #248dad
            color: white

.chat-page-incoming-requests
    .item
        display: flex
        justify-content: space-between
